@charset "utf-8";
/* CSS Document */
/* =============================================================
 	First Name			  : 	Strahinja     					    
 	Last Name			    : 	Popovic					            
 	Developer Name    : 	CodexDeveloper			        
 	WebMaster Email		:	  spope.mails@gmail.com               
 ============================================================== */

/* ***************************************************************************************** */
/* Definition of the css stylingn variables ************************************************ */
/* ***************************************************************************************** */

:root {
  --aqua: aqua;
  --dark: black;
  --light: white; 
  --error: rgb(170, 28, 28);
  --gray: rgb(240, 240, 240);
  --gray-dark: rgb(23,23,23);
  --naval-blue: rgba(1,33,55,1.00);
  --electron-blue: rgb(50, 164, 240);
  --custom-gray: rgb(175, 191, 207);
  --light-web-blue: rgb(12, 209, 235);
}

body {
  font-size: 24px;
  background-color: var(--gray);
  font-family: "Roboto", sans-serif;
}

div#header {
  width: 100%;
  height: auto;
  margin: 0 auto;
  background-color: var(--dark);
}

div#header section#header-main {
  width: 100%;
  line-height: 2;
  font-size: 2.5vw;
  color: var(--aqua);
  text-align: center;
  font-weight: bolder;
  letter-spacing: 3px;
  font-family: 'furore', Tahoma, Geneva, Verdana, sans-serif;
}

div#header section#header-main span {
  color: var(--electron-blue);
}

div#top {
  width: 100%;
  height: 100%;
  display: flex;
}

div#top section#input-city {
  height: auto;
  margin: 0 0.5vw 0 1vw;
  width: calc(20% - 1.5vw);
  background-color: var(--gray);
  border-bottom: 3px solid var(--gray-dark);
}

div#top section#current-city {
  width: 80%;
  height: auto;
  background-color: var(--gray);
}

div#top section#current-city section#sub-section {
  height: 350px;
  margin-top: 1vw;
  margin-left: 0.5vw;
  border-radius: 5px;
  width: calc(100% - 1.5vw);
  background-color: var(--gray);
  border: 3px solid var(--gray-dark);
}

div#top section#current-city section#sub-section section#sub-sub {
  width: 25%;
  display: flex;
  border-radius: 10px;
  flex-direction: row;
  margin: 1vw 1vw 1vw 1vw;
  height: calc(350px - 2vw);
  background-color: var(--custom-gray);
  border: 3px solid var(--electron-blue);
}

div#top section#current-city section#sub-section section#sub-sub div#weather-icon {
  padding-top: 1.3vw;
}

div#top section#current-city section#sub-section section#sub-sub div#current-weather {
  font-size: x-large;
  font-weight: bolder;
  padding: 1vw 0 0 1vw;
  white-space: pre-line;
  font-family: "Roboto", sans-serif;
}

div#middle {
  width: 100%;
  height: 100%;
  display: flex;
}

div#middle section#city-list {
  height: 300px;
  border-radius: 5px;
  width: calc(20% - 1.5vw);
  margin: 1vw 0.5vw 1vw 1vw;
  background-color: var(--gray);
  border: 3px solid var(--gray-dark);
}

div#middle section#days-forecast {
  height: 300px;
  display: flex;
  border-radius: 5px;
  flex-direction: row;
  width: calc(80% - 1.5vw);
  margin: 1vw 1vw 1vw 0.5vw;
  background-color: var(--gray);
  border: 3px solid var(--gray-dark);
}

div#middle section#days-forecast section#day-1,
div#middle section#days-forecast section#day-2,
div#middle section#days-forecast section#day-3,
div#middle section#days-forecast section#day-4,
div#middle section#days-forecast section#day-5 {
  display: flex;
  margin-top: 1vw;
  font-size: small;
  font-weight: bold;
  margin-bottom: 1vw;
  flex-direction: row;
  border-radius: 10px;
  height: calc(100% - 2vw);
  color: var(--naval-blue);
  font-family: "Roboto", sans-serif;
  background-color: var(--custom-gray);
  border: 3px solid var(--electron-blue);
}

div#middle section#days-forecast section#day-1,
div#middle section#days-forecast section#day-5 {
  width: calc(20% - 1vw - 0.5vw);
}

div#middle section#days-forecast section#day-1 {
  margin-left: 1vw;
  margin-right: 0.5vw;
}

div#middle section#days-forecast section#day-5 {
  margin-right: 1vw;
  margin-left: 0.5vw;
}

div#middle section#days-forecast section#day-2,
div#middle section#days-forecast section#day-3,
div#middle section#days-forecast section#day-4 {
  margin-left: 0.5vw;
  margin-right: 0.5vw;
  width: calc(20% - 1vw);
}

div#day-1-desc,
div#day-2-desc,
div#day-3-desc,
div#day-4-desc,
div#day-5-desc {
  padding: 1vw 0 0 1vw;
  white-space: pre-line;
}

div#day-1-icon,
div#day-2-icon,
div#day-3-icon,
div#day-4-icon,
div#day-5-icon {
  padding-top: 0.7vw;
}

label {
  font-size: 1vw;
  font-weight: bolder;
  margin: 2vw 0 0.5vw 10%;
  color: var(--naval-blue);
  font-family: "Roboto", sans-serif;
}

input[type=text] {
  width: 80%;
  height: 2.5vw;
  margin: 0 1vw;
  border-radius: 5px;
  margin: 0.5vw 10% 0 10%;
  padding: 5px 5px 5px 5px;
  font-family: "Roboto", sans-serif;
  border: 2px solid var(--gray-dark);
}

input::placeholder {
  font-size: 1vw;
  line-height: 1.5;
}

button#submit, button#clear {
  width: 80%;
  height: 3vw;
  font-size: 1.5vw;
  border-radius: 5px;
  font-weight: bolder;
  margin: 0 10% 1vw 10%;
  color: var(--naval-blue);
  background-color: var(--gray);
  font-family: "Roboto", sans-serif;
  border: 2px solid var(--gray-dark);
}

button#submit {
  margin-top: 0.5vw;
}

div#middle section#city-list button#history-city-1,
div#middle section#city-list button#history-city-2,
div#middle section#city-list button#history-city-3 {
  width: 80%;
  height: 3vw;
  display: none;
  font-size: 1.5vw;
  border-radius: 5px;
  font-weight: bolder;
  margin: 0 10% 0 10%;
  color: var(--naval-blue);
  background-color: var(--gray);
  font-family: "Roboto", sans-serif;
  border: 2px solid var(--gray-dark);
}

div#middle section#city-list p {
  margin-left: 10%;
  line-height: 1.5;
  font-size: 1.2vw; 
  font-weight: bold; 
  color: var(--error); 
  font-family: "Roboto", sans-serif;
}

div#middle section#city-list button#history-city-1 {
  margin-top: 1vw;
  margin-bottom: 0.5vw;
}

div#middle section#city-list button#history-city-2 {
  margin-top: 0.5vw;
  margin-bottom: 0.5vw;
}

div#middle section#city-list button#history-city-3 {
  margin-top: 0.5vw;
}

span#shevron {
  font-family: 'furore', Tahoma, Geneva, Verdana, sans-serif;
}

button#submit:hover, button#clear:hover {
  color: var(--naval-blue);
  border: 3px solid var(--naval-blue);
}

div#error-message {
  margin-left: 10%;
  line-height: 1.5;
}

div#error-message p {
  font-size: 1.2vw; 
  font-weight: bold; 
  color: var(--error); 
  font-family: "Roboto", sans-serif;
}

footer#bottom {
  width: 100%;
  height: 350px;
  line-height: 2;
  text-align: left;
  background-color: var(--dark);
  font-family: "Roboto", sans-serif;
}

footer#bottom p span {
  color: var(--electron-blue);
}

footer#bottom p {
  left: 1vw;
  display: block;
  font-size: 18px;
  text-align: left;
  margin: 0 1vw 0 1vw;
  letter-spacing: 1px;
  color: var(--aqua);
}

footer#bottom p:first-child {
  font-size: 2vw;
  margin-top: 20px;
  letter-spacing: 5px;
  font-weight: bolder;
  font-family: 'furore', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer#bottom p:last-child {
  bottom: 50px;
}
